# OSRM Data
osrm-data/*.pbf
osrm-data/*.osrm*
osrm-data/bicycle.lua
osrm-data/lib/

# Backend Build
backend/build/
backend/uploads/
backend/server.log

# Frontend
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.env.local
.env

# System
.DS_Store
Thumbs.db

# Docker
.docker/

# Logs
*.log

# aider
.aider*
